<a href="https://colab.research.google.com/github/jeongjinjoo/Big-Data-practice/blob/main/2022%EB%85%84%20%EC%A0%9C5%ED%9A%8C%20%EA%B8%B0%EC%B6%9C%EB%B3%B5%EC%9B%90%EB%AC%B8%EC%A0%9C%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 5.98 MiB/s, done.
Resolving deltas: 100% (341/341), done.

In [4]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part5/501_trash_bag.csv', encoding = 'cp949')
print(df.head())

   시도명 시군구명       종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
0  강원도  강릉시     규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...   130
1  강원도  강릉시  재사용규격봉투  매립용   생활쓰레기   기타     0       0     0       0  ...     0
2  강원도  고성군     규격봉투  소각용   생활쓰레기  가정용     0       0     0       0  ...   140
3  강원도  고성군     규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
4  강원도  고성군   특수규격마대  매립용   생활쓰레기  가정용     0       0     0       0  ...     0

   10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
0    270    520      0   1250      0   1880       0       0       0
1    270    520      0      0      0      0       0       0       0
2    260    500      0   1220      0      0    2410       0       0
3      0      0      0      0      0      0       0       0       0
4      0      0      0   1540      0      0       0       0       0

[5 rows x 21 columns]

In [5]:
print(df['용도'].unique())

['생활쓰레기' '음식물쓰레기']

In [7]:
print(df['사용대상'].unique())

['기타' '가정용' '사업장용' '영업용' '영업장용' '범용']

In [13]:
df_filltered = df[(df['용도'] == '음식물쓰레기') & (df['사용대상'] == '가정용')]
print(df_filltered)

      시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3     강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
8     강원도  삼척시  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...    80
9     강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12    강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
16    강원도  영월군  규격봉투  매립용  음식물쓰레기  가정용     0       0     0       0  ...   110
..    ...  ...   ...  ...     ...  ...   ...     ...   ...     ...  ...   ...
702  충청남도  보령시  규격봉투  소각용  음식물쓰레기  가정용     0       0    40       0  ...   100
718  충청남도  태안군  규격봉투   기타  음식물쓰레기  가정용     0       0    50       0  ...   130
736  충청북도  음성군  규격봉투  소각용  음식물쓰레기  가정용    80       0     0       0  ...   190
738  충청북도  제천시  규격봉투  매립용  음식물쓰레기  가정용    40       0     0       0  ...   100
747  충청북도  충주시  규격봉투  소각용  음식물쓰레기  가정용    60       0    90       0  ...   140

     10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3        0      0      0      0      0      0       0       0       0
8      150    290      0      0      0      0       0       0       0
9      210    400      0      0      0      0       0       0       0
12     170    340      0      0      0      0       0       0       0
16     180    350      0    900      0   1350       0       0       0
..     ...    ...    ...    ...    ...    ...     ...     ...     ...
702    200    380      0      0      0      0       0       0       0
718    300    550    780      0      0      0       0       0       0
736    340    640      0      0      0      0       0       0       0
738    200      0      0      0      0      0       0       0       0
747    250    470      0      0      0      0       0       0       0

[101 rows x 21 columns]

In [14]:
finall = df_filltered[df_filltered['2L가격'] != 0]
print(finall.head())

    시도명 시군구명    종류 처리방식      용도 사용대상  1L가격  1.5L가격  2L가격  2.5L가격  ...  5L가격  \
3   강원도  고성군  규격봉투  소각용  음식물쓰레기  가정용     0       0    60       0  ...   120
9   강원도  양구군  규격봉투  매립용  음식물쓰레기  가정용     0       0    50       0  ...   120
12  강원도  양양군  규격봉투   기타  음식물쓰레기  가정용     0       0    40       0  ...    90
20  강원도  원주시  규격봉투   기타  음식물쓰레기  가정용     0       0    80       0  ...   170
33  강원도  춘천시  규격봉투  매립용  음식물쓰레기  가정용    40       0    50       0  ...   140

    10L가격  20L가격  30L가격  50L가격  60L가격  75L가격  100L가격  120L가격  125L가격
3       0      0      0      0      0      0       0       0       0
9     210    400      0      0      0      0       0       0       0
12    170    340      0      0      0      0       0       0       0
20    320    680      0   1690      0      0       0       0       0
33    230    470      0      0      0      0       0       0       0

[5 rows x 21 columns]

In [15]:
print(finall['2L가격'].head(j))

3     60
9     50
12    40
20    80
33    50
Name: 2L가격, dtype: int64

In [19]:
result = int(finall['2L가격'].mean())
print(result)

119

BMI지수는 몸무게(kg)를 키(m)의 제곱으로 나누어 구하며, BMI값에 따른 비만도 분류는 다음과 같다. 이때 주어진 bmi 데이터 세트에서 비만도가 정상에 속하는 인원 수와 과체중에 속하는 인원 수의 차이를 정수로 출력하시오.[링크 텍스트](https://)

In [20]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part5/502_bmi.csv')

In [21]:
print(df.head())

   Gender  Height  Weight
0    Male     174      96
1    Male     189      87
2  Female     185     110
3  Female     195     104
4    Male     149      61

In [30]:
df['BMI'] = df['Height']/100
df['BMI_f'] = (df['Weight'])/(df['BMI']**2)
print(df.head())

   Gender  Height  Weight   BMI      BMI_f
0    Male     174      96  1.74  31.708284
1    Male     189      87  1.89  24.355421
2  Female     185     110  1.85  32.140248
3  Female     195     104  1.95  27.350427
4    Male     149      61  1.49  27.476240

In [34]:
result = len(df[(df['BMI_f'] >= 18.5) & (df['BMI_f'] < 23)] )
print(result)

47

In [35]:
result1 = len(df[(df['BMI_f'] >= 23) & (df['BMI_f'] < 25)] )
print(result1)

19

In [36]:
print(abs(result - result1))

28

주어진 students데이터 세트는 각 학교의 학년별 총 전입학생, 총 전출학생, 전체 학생 수를 나타낸다. 순 전입학생 수는 총 전입학생 수에서 총 전출학생 수를 빼서 구할 수 있다. 순 전입학생이 가장 많은 학교의 전체 학생 수를 구하시오.

In [39]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part5/503_students.csv', encoding = 'cp949')
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수
0  A   1       9       1      222
1  A   2      13       4      148
2  A   3       8       7      196
3  B   1       7       5      171
4  B   2       9       1      216

In [47]:
df['순 전입학생 수'] = df['총 전입학생'] - df['총 전출학생']
print(df.head())

  학교  학년  총 전입학생  총 전출학생  전체 학생 수  순 전입학생 수
0  A   1       9       1      222         8
1  A   2      13       4      148         9
2  A   3       8       7      196         1
3  B   1       7       5      171         2
4  B   2       9       1      216         8

In [48]:
result = df.groupby(['학교'])[['순 전입학생 수', '전체 학생 수']].sum()
print(result.head())

    순 전입학생 수  전체 학생 수
학교
A         18      566
B         13      588
C         -9      528
D          7      548
E         14      603

In [52]:
fin = result.loc[result['순 전입학생 수'] == result['순 전입학생 수'].max(), '전체 학생 수'].values[0]
print(fin)

566

In [51]:
## 참고 - 뒤에 values[0]이 없을 경우
result = rst_df.loc[rst_df['순 전입학생 수']==max(rst_df['순 전입학생 수']), '전체 학생 수']
print(result) # 결과 값이 Series형태로 나옴

NameError: name 'rst_df' is not defined