<a href="https://colab.research.google.com/github/jeongjinjoo/test1/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: #simple

print("Hello world!")

Hello world!

In [ ]:
#simple
test = 2*3
test

6

# 대분류

#### (1) 첫번째 프로그램

In [ ]:
#sample
test = 2*3
test

6

In [ ]:
#소스 및 데이터 동기화
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 19.82 MiB/s, done.
Resolving deltas: 100% (341/341), done.

In [ ]:
a=1234
b=-12.34
c=a+b

print(a,b)
print(type(a), type(b))
print(c)
print(type(c))

1234 -12.34
<class 'int'> <class 'float'>
1221.66
<class 'float'>

In [ ]:
a=3
b=7

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

10
-4
21
0.42857142857142855
3
0

In [ ]:
a= "jinjoo is pretty"
b = len(a)

print(b)

16

문자열 인덱싱(0부터 시작,공백도 셈, -가 붙으면 오른쪽부터 시작, 오른쪽은 1부터 시작)

In [ ]:
a= "Life is short, Python is valuable"
b= a[0]
c=a[10]
d=a[-8]
e=a[-1]

print(b+c+d+e)

Love

문자열 슬라이싱(1부터 시작)
ex)[4:8]의 경우 4567을 가져옴.

In [ ]:
a = "Life is short, Python is valuable"
b = a[:4]
c = a[4:8]
d = a[25:]

print(b + c + d)

Life is valuable

문자열 삽입

In [ ]:
a = "apple"
b = ','.join(a)

print(b)

a,p,p,l,e

공백 지우기

In [ ]:
a = " apple "
b = a.lstrip()
c = a.rstrip()
d = a.strip()

print(b)
print(c)
print(d)

apple
 apple
apple

list 기본 연산 (*로 곱해도 두 번 반복)

In [ ]:
a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c']
c = a * 2
d = len(c)

print(c)
print(d)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
10

list 인덱싱과 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]

print(a)
print(a[0])
print(a[1:4])
print(a[-1])
print(a[4])
print(a[2:])
print(a[2:5])
print(a[:3])
print(a[0:3])

[1, 2, 3, 4, 5]
1
[2, 3, 4]
5
5
[3, 4, 5]
[3, 4, 5]
[1, 2, 3]
[1, 2, 3]

In [ ]:
a = [1, 2, 3, 4, 5]
a[2] = 10
del a[4]
a.append(10)
a.sort()
a.insert(1,15)
a.remove(10) #하나만 없어짐
b = a.pop(1)

print(a)
print(b)

[1, 2, 4, 10]
15

Tuple (튜플)
: 리스트와 비슷한 역할을 하며, 대괄호가 아닌 소괄호를 활용해서 포함한다.
다만, 리스트는 요소의 생성, 삭제, 수정이 가능하지만 튜플은 요소를 변경할 수 없다는 차이점이 있다. 일반적으로 괄호를 생략해서 표현한다.
* 튜플의 요소 값을 변경하거나 제거하려고 시도하면 오류 메세지가 발생한다.
* 값이 항상 변하지 않아야 한다는 제약조건이 필요하면 튜플을 사용하는 것이 바람직하다.

In [ ]:
a = (1,2,3,4,5)
b = ('a','b','c')
c = a*2 +b
d = len(c)

print(c)
print(d)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'a', 'b', 'c')
13

In [ ]:
a = [5, 4, 3, 2, 1]
b = a.index(1)
c = a.index(5)

print(b)
print(c)

4
0

딕셔너리{중괄호를 사용해서 작성함.}
* 딕셔너리 자료형의 구조를 이해하는 것이 중요함.

In [ ]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}

print(a)
print(a['name'])
print(a['birth'])

{'name': 'John', 'age': 30, 'birth': [11, 8]}
John
[11, 8]

딕셔너리 키 리스트 만들기
* 딕셔너리의 데이터 구조를 구성하고 있는 key의 리스트를 호출할 수 있다.
딕셔너리, key 함수는 키만 불러오게 되며, list 함수를 통해 리스트 자료형으로 변환할 수 있다.

In [ ]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
# 리스트 불러오기
b = a.keys()
c = list(a.keys())
# 값 불러오기
d = a.values()
e = list(a.values())

print(b)
print(c)
print(d)
print(e)

dict_keys(['name', 'age', 'birth'])
['name', 'age', 'birth']
dict_values(['John', 30, [11, 8]])
['John', 30, [11, 8]]

딕셔너리 키로 값 호출하기 get(x)함수를 활용하면 x의 키에 해당하는 값을 확인할 수 있다.
ex) get(x,y) : x의 키가 존재하지 않을 때 y값을 반환한다.
+ y가 없을 때는 None을 반환한다.

In [ ]:
a = {'name':'John', 'age':30, 'birth':[11, 8]}
b = a.get('name')
c = a['name']
d = a.get('house')
e = a.get('house', 'No data')

print(b)
print(c)
print(d)
print(e)

John
John
None
No data

집합 자료형은 중복을 허용하지 않으며 순서가 없다는 특징이 있다.
집합 자료형은 중괄호 {}로 표현한다.
set함수를 사용해서 만들 수 있다.

In [ ]:
a = {1, 2, 3, 2, 1}
b = set([1, 2, 3, 2, 1])
c = set("Python")

print(a)
print(b) #중복불가
print(c)

{1, 2, 3}
{1, 2, 3}
{'P', 'o', 'n', 't', 'y', 'h'}

In [ ]:
a = set([1, 2, 3])
b = list(a)
c = tuple(a)

print(a) # 집합 자료형은 중괄호
print(b) # 리스트는 대괄호
print(b[0])
print(c) # 튜플은 소괄호
print(c[2])

{1, 2, 3}
[1, 2, 3]
1
(1, 2, 3)
3

In [ ]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])
c = a & b # 집합 자료형의 교집합
d = a.intersection(b)
e = a | b # 집합 자료형의 합집합
f = a.union(b)
g = a - b # 집합 자료형의 차집합
h = a.difference(b)

print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}

논리 자료형이란 참과 거짓을 나타내는 자료형이다.

bool함수를 사용하면 식별할 수 있다.

문자열,리스트, 튜플, 딕셔너리 자료형에서 값이 비어있으면 False값을 반환하고, 비어있지 않으면 True값을 반환한다.

숫자형에서는 값이 0일때 False값을 반환하고, 0이 아닐 때는 True값을 반환한다.

In [ ]:
a = True
b = False

print(a)
print(type(a))
print(b)
print(type(b))
print(a + b)
print(type(a + b))
print(a * b)
print(type(a * b))

True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>

제어문
: if문, 반복문(while문,for문)
* for문은 리스트,튜플,문자열 수만큼 반복문을 수행할 때 활용하며,

* while문은 특정 조건을 만족할 때까지 반복문을 수행한다.

In [ ]:
a = True

if a:
    print("가설은")
    print("사실이다")
else:
    print("가설은")
    print("거짓이다")

가설은
사실이다

In [ ]:
x = 3
y = 7

if x <= y:
    print("x가 y보다 작거나 같다")
else:
    print("x가 y보다 크다")

x가 y보다 작거나 같다

In [ ]:
x = 3
y = 7

if x == y or x < y:
    print("x가 y보다 작거나 같다")
else:
    print("x가 y보다 크다")

x가 y보다 작거나 같다

In [ ]:
x = 3
y = [1, 2, 3, 4, 5]

if x in y:
    print("데이터가 존재한다")
else:
    print("데이터가 존재하지 않는다")

데이터가 존재한다

In [ ]:
x = 3
y = 7

if x == y:
    print("x와 y는 같다")
elif x < y:
    print("x가 y보다 작다")
else:
    print("x가 y보다 크다")

x가 y보다 작다

In [ ]:
a = 0

while a < 5:
    print("a값은 %s 입니다" % a)
    a = a + 1

print("while문이 종료되었습니다.a값은 %s 입니다"% a)

a값은 0 입니다
a값은 1 입니다
a값은 2 입니다
a값은 3 입니다
a값은 4 입니다
while문이 종료되었습니다.a값은 5 입니다

In [ ]:
a = 0
b = ["사과", "바나나", "토마토"]

while a < len(b):
    print("바구니에서 %s를 꺼냈습니다" % b[a])
    a = a + 1

print("바구니에 아무것도 남아있지 않습니다")

바구니에서 사과를 꺼냈습니다
바구니에서 바나나를 꺼냈습니다
바구니에서 토마토를 꺼냈습니다
바구니에 아무것도 남아있지 않습니다

In [ ]:
a = 5

while a > 0:
    print("a값은 %s 입니다" % a)
    a = a - 1

    if a == 2:
        break

print("while문이 종료되었습니다")

a값은 5 입니다
a값은 4 입니다
a값은 3 입니다
while문이 종료되었습니다

In [ ]:
a = 0

while a < 10:
    a = a + 1
    if a % 2 != 0:
        continue
    print(a)

2
4
6
8
10

In [ ]:
a = ["사과", "바나나", "토마토"]

for i in a:
    print(i)

사과
바나나
토마토

In [ ]:
a = [90, 25, 67, 45, 80]
b = sum(a) / len(a)  # 합계/개수 = 평

for i in a:
    if i > b:
        print("%d 는(은) 평균보다 크다" % i)
    else:
        print("%d 는(은) 평균보다 작거나 같다" % i)

90 는(은) 평균보다 크다
25 는(은) 평균보다 작거나 같다
67 는(은) 평균보다 크다
45 는(은) 평균보다 작거나 같다
80 는(은) 평균보다 크다

range(a,b)함수는 a값을 시작으로 b값이 끝인 범위의 숫자 리스트를 생성한다.
마지막 b값은 포함하지 않는다.

In [ ]:
# 구구단 출
for i in range(2, 10): # 2이상 10미만인 범위
    for j in range(1, 10):
        print(i * j, end = ' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
a = [1, 2, 3, 4]
result = []

for i in a: # for문을 활용하면 리스트에 일정한 규칙을 갖는 데이터를 추가한다.
    result.insert(0, i * 10)

print(result)

[40, 30, 20, 10]

def문
: 함수 이름을 임의로 만들 수 있고 이름 뒤 괄호 안의 매개변수는 이 함수에 입력으로 전달되는 값을 받는 변수이다.

* 함수를 정의한 다음 if,while,for문과 마찬가지로 함수에서 수행할 문장을 입력한다.

* 마지막으로 return 명령어는 함수의 결괏값을 돌려주는 명령어이다.

* 입력값이 없거나 결괏값이 없는 형태로 함수를 만들 수도 있으나, 일반적으로는 매개변수와 return명령어 모두 사용하여 함수 구조를 구성한다.

In [ ]:
def add(a, b):
  return a + b

a = 3
b = 7
c = add(a, b)

print(c)

10

NUMPY(Numerical Python)
: 파이썬에서 선형대수 기반의 프로그램을 쉽게 만들 수 있도록 지원하는 대표적인 패키지
- 루프를 사용하지 않고 대량 데이터의 배열 연산을 가능하게 하므로 빠른 배열 연산 속도를 보장한다.

In [1]:
import numpy as np

numpy의 기반 데이터 타입은 다차원 배열이다. 다차원 배열이란 같은 자료형의 데이터를 담을 수 있는 하나의 그릇이라고 표현할 수 있다.
NUMPY의 array함수는 파이썬의 리스트와 같은 다양한 인자를 입력받아서 배열 형태로 변환하는 기능을 수행한다.
생성된 배열의 shape변수는 배열의 크기, 즉 행과 열의 정보를 튜플 형태로 가지고 있다.

In [4]:
a1 = np.array([1, 2, 3])
print(a1)
print('array1 type : ', type(a1))
print('array1 shape : ', a1.shape) #1차원 배열에 3개의 데이터를 가지고 있음.

a2 = np.array([[1, 2, 3], [4, 5, 6]])
print(a2)
print('array2 type : ', type(a2))
print('array2 shape : ', a2.shape) #2차원 배열에 2개의 행과 3개의 컬럼 데이터 구조를 가지고 있음.

a3 = np.array([[1, 2, 3]])
print(a3)
print('array3 type : ', type(a3))
print('array3 shape : ', a3.shape) #2차원 배열에 해당하며 1개의 행과 3개의 컬럼으로 구성된 데이터 구조.

[1 2 3]
array1 type :  <class 'numpy.ndarray'>
array1 shape :  (3,)
[[1 2 3]
 [4 5 6]]
array2 type :  <class 'numpy.ndarray'>
array2 shape :  (2, 3)
[[1 2 3]]
array3 type :  <class 'numpy.ndarray'>
array3 shape :  (1, 3)

각 배열의 차원

In [5]:
print('array1 dim :', a1.ndim)
print('array2 dim :', a2.ndim)
print('array3 dim :', a3.ndim)

array1 dim : 1
array2 dim : 2
array3 dim : 2

np.arange(x) 함수를 활용하면 0부터 (x-1)까지의 값을 순차적 배열의 데이터 값으로 생성할 수 있다.
* 특정 크기와 차원을 가진 배열을 연속되거나 일정한 규칙을 가진 숫자로 생성해야 할 필요가 있는 경우

In [7]:
a = np.arange(20)
b = np.arange(1, 20, 3)
print(a)
print(b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[ 1  4  7 10 13 16 19]

특정 크기와 차원을 가진 배열을 0 또는 1로 초기화해야 할 필요가 있는 경우가 있다.
이 경우 zeros나 ones함수를 이용해 쉽게 배열을 초기화할 수 있다.

In [11]:
zero_a = np.zeros((2,5))
one_a = np.ones((3,4))
zero_b = np.zeros_like(one_a) #이미 생성된 배열 구조와 동일한 구조를 유지한 상태에서 1을 0으로 만들어줌.
one_b = np.ones_like(zero_a) #0을 1의 배열로 만들어줌.


print(zero_a)
print(one_a)

print(zero_b)
print(one_b)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [12]:
full_a = np.full((4, 3),9) #9로 채워진 4개의 행과 3개의 열로 된 배열
random_a = np.random.random((3, 4)) #랜덤의 숫자로 배열 채우기

print(full_a)
print(random_a)

[[9 9 9]
 [9 9 9]
 [9 9 9]
 [9 9 9]]
[[7.98128333e-01 7.03705751e-01 1.65617030e-01 4.95788273e-01]
 [4.30510933e-01 8.35966509e-01 8.88969470e-01 7.96713519e-01]
 [6.93260534e-04 4.42085550e-01 2.56050534e-01 4.94250977e-01]]

In [13]:
eye_a = np.eye(4) #주대각선의 원소가 모두 1이고 나머지는 모두 0인 대각행렬 형태의 배열
print(eye_a)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [14]:
array1 = np.arange(12)
print('array1:\n', array1)

array2 = array1.reshape(3,4)
print('array2:\n', array2)

array3 = array1.reshape(3,4,order='F') #'order=F'를 선언하면 값을 열부터 채워 넣게 된다.
print('array3:\n', array3)

array1:
 [ 0  1  2  3  4  5  6  7  8  9 10 11]
array2:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
array3:
 [[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]

reshape을 사용할때 인자로 -1을 입력하는 경우가 일반적이다.
-1을 인자로 사용하면 원래 배열과 호환되는 크기로 자동 변환해준다.

In [15]:
array1 = np.arange(10)
array2 = array1.reshape(-1, 5) #행 인자가 -1, 컬럼 인자가 5 = 5개의 컬럼에 맞는 행을 자동으로 새롭게 생성해라

print(array2)
print('array2 dim : ', array2.ndim)
print('array2 shape : ', array2.shape)

[[0 1 2 3 4]
 [5 6 7 8 9]]
array2 dim :  2
array2 shape :  (2, 5)

In [16]:
array1 = np.arange(12)
array2 = array1.reshape(2,3,2, order='F')

print(array2)
print('array2 dim : ', array2.ndim) #배열 차원
print('array2 shape : ', array2.shape)

[[[ 0  6]
  [ 2  8]
  [ 4 10]]

 [[ 1  7]
  [ 3  9]
  [ 5 11]]]
array2 dim :  3
array2 shape :  (2, 3, 2)

In [17]:
array3 = array2.flatten() #위 결과를 평평하게 1차원으로 만들어라.
print(array3)

[ 0  6  2  8  4 10  1  7  3  9  5 11]

In [18]:
array1 = np.arange(1, 10)
print('array1 : ', array1)

value1 = array1[2]
value2 = array1[-2]

print(value1)
print(value2)

array1 :  [1 2 3 4 5 6 7 8 9]
3
8

In [19]:
array1 = np.arange(1, 10)
array2 = array1.reshape(3, 3)
print('array2 :\n', array2)

value1 = array2[0,0]
value2 = array2[-1, -1]
value3 = array2[-1, -2]

print(value1)
print(value2)
print(value3)

array2 :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
1
9
8

In [20]:
array1 = np.arange(1, 10)
array2 = array1[0:3]
array3 = array1[:3]
array4 = array1[3:]

print(type(array2))
print(array2)
print(array3)
print(array4)

<class 'numpy.ndarray'>
[1 2 3]
[1 2 3]
[4 5 6 7 8 9]

In [21]:
array1 = np.arange(1, 10)
array2 = array1.reshape(3, 3)
print('array2 : \n', array2)

print('array2[0:2, 0:2]\n', array2[0:2, 0:2])
print('array2[1:3, 0:3]\n', array2[1:3, 0:3])
print('array2[:2, 1:]\n', array2[:2, 1:])
print('array2[:2, 0]\n', array2[:2, 0])

array2 :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2[0:2, 0:2]
 [[1 2]
 [4 5]]
array2[1:3, 0:3]
 [[4 5 6]
 [7 8 9]]
array2[:2, 1:]
 [[2 3]
 [5 6]]
array2[:2, 0]
 [1 4]

행렬 내적(행렬곱)과 전치 행렬을 구하는 방법

행렬 내적, A와 B의 내적은 왼쪽행렬의 행과 오른쪽 행렬의 컬럼 원소들을 순차적으로 곱한 뒤 그 결과를 모두 더한 값이다.

In [22]:
array1 = np.array([[1, 2, 3],
                   [4, 5, 6]])
array2 = np.array([[7, 8],
                   [9, 10],
                   [11, 12]])

dot_array = np.dot(array1, array2)
print(dot_array)

[[ 58  64]
 [139 154]]

전치 행렬
:원 행렬에서 행과 열 위치를 교환한 원소로 구성한 행렬

In [23]:
array1 = np.array([[1, 2, 3],
                   [4, 5, 6]])
transpose_array = np.transpose(array1)

print(transpose_array)

[[1 4]
 [2 5]
 [3 6]]

In [27]:
#배열 데이터 개수 계산
x = np.array([18,   5,  10,  23,  19,  -8,  10,   0,   0,   5,   2,  15,   8,
              2,   5,   4,  15,  -1,   4,  -7, -24,   7,   9,  -6,  23, -13])

len(x)

26

In [25]:
#평균,분산,표준편차 계산
print(np.mean(x))
print(np.var(x))
print(np.std(x))

4.8076923076923075
115.23224852071006
10.734628476137871

In [28]:
print(np.max(x))
print(np.min(x))
print(np.median(x))

23
-24
5.0

In [29]:
# 사분위수 계산 (percentile( , ))
print(np.percentile(x, 25)) #1사분위수
print(np.percentile(x, 50)) #2사분위수
print(np.percentile(x, 75)) #3사분위수

0.0
5.0
10.0