<a href="https://colab.research.google.com/github/jeongjinjoo/Big-Data-practice/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 7.97 MiB/s, done.
Resolving deltas: 100% (341/341), done.

In [3]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

In [7]:
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [10]:
list = data['sepal_length'].unique().tolist()
list.sort()
print(list[9])

5.2

In [11]:
sorted_data = data.sort_values(by = 'sepal_width', ascending = False).reset_index(drop = True)

# sort_values(by = 'A') - A의 값에 따라 정렬
# reset_index - 인덱스 초기화 or 인덱스를 데이터프레임 열로 변환

sorted_data_split = sorted_data.loc[0 : 99] # sorted_data. head(100)
print(int(sorted_data_split['sepal_width'].std()*50))

16

In [17]:
avg_data = data.sort_values(by = ['species', 'petal_length'], ascending = [True, False])
# True와 False를 둘다 썼다면 A는 오름차순, B는 내림차순으로 정렬하라는 뜻
avg_data_split = avg_data.groupby('species').head(10)
print(round(avg_data_split.groupby('species')['petal_length'].mean().sum()))

13

In [20]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()

upper = mean + 2*std
lower = mean - 2*std


print(upper, lower)
print(data[(data['sepal_length'] >= upper) | (data['sepal_length'] <= lower)])

7.49946558928906 4.187201077377607
     sepal_length  sepal_width  petal_length  petal_width    species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [22]:
import pandas as pd

data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")

In [27]:
data_drop = data[data['total_phenols'].notnull()]
# null이 아닌 total_phenols값을 구해

med = data_drop['alcalinity_of_ash'].median()
# alcalinity_of_ash의 중앙값을 구해

data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med
# alcalinity의 널값을 삭제한 행의 alcalinity를 중앙값으로대체

print(round(data_drop['alcalinity_of_ash'].mean()))
#alcalinity의 평균값 구하기(반올림)

19

In [33]:
data_final = data[(data['alcohol'] >= data['alcohol'].mean()) & (data['color_intensity'] >= data['color_intensity'].mean())]
print(data_final['class'].value_counts())
# print(data_filltered['class'].value_counts())

class
0    37
2    23
1     1
Name: count, dtype: int64

In [35]:
print(data.head(1).T)

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

In [38]:
mean_1 = data[data['class'] == 1]['ash'].mean()
mean_2 = data.dropna()['ash'].mean()

print(round(abs(mean_1 - mean_2),3))

0.12

In [42]:
sorted_data = data.sort_values(by ='alcohol') # 오름차순
sorted_data.loc[0:19, 'alcohol'] = sorted_data.loc[19, 'alcohol']
# 0부터 20개의 알코올은 20번째 알코올과 똑같다.
print(round(sorted_data[sorted_data['proanthocyanins'] <= 2]['alcohol'].mean(),2))

12.94

In [50]:
num_1 = data[data['class'] == 1]['proline'].quantile(0.75)
num_2 = data[data['class'] == 1]['proline'].quantile(0.25)
num_3 = data[data['class'] == 2]['proline'].quantile(0.75)
num_4 = data[data['class'] == 2]['proline'].quantile(0.25)
result1 =  num_1 - num_2
result2 = num_3 - num_4
result_f = abs(result1 - result2)

print(result_f)

68.5