<a href="https://colab.research.google.com/github/jeongjinjoo/Big-Data-practice/blob/main/%EC%84%9C%EB%B9%84%EC%8A%A4%EC%9D%B4%ED%83%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

본인만의 코드를 작성하고 upvote를 받아 broze medal을 획득 해보세요

In [2]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")

# display(x_train)
# display(y_train)

# print(x_train.info()) // 범주형변수 : Surname, Geography, Gender
# print(y_train.info())
# print(x_train.nunique())

x_train_drop = x_train.drop(columns =['CustomerId', 'Surname'])
x_test_drop = x_test.drop(columns =['CustomerId', 'Surname'])

# import sklearn
# print(sklearn.__all__).
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

x_train_dummies = pd.get_dummies(x_train_drop) # 범주형 변수를 더미 변수로 변환
y = y_train['Exited'] # 종속변수 넣어주기

x_test_dummies = pd.get_dummies(x_test_drop)
display(x_test_dummies)
x_test_dummies = x_test_dummies[x_train_dummies.columns]
display(x_test_dummies)
# print(help(train_test_split))

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dummies, y, test_size = 0.33)
rfc = RandomForestClassifier(random_state = 23)
rfc.fit(X_train, Y_train)

from sklearn.metrics import roc_auc_score, accuracy_score, f1_score, recall_score, precision_score


predict_train_label = rfc.predict(X_train)
predict_train_proba = rfc.predict_proba(X_train)[ :,1] # X_validation 예측 확률 계산
# proba는 클래스 0과 클래스 1에 대한 예측 확률을 반환
#[:,1]은 예측 확률에서 두번째 열을 선택, 보통 클래스 1에 대한 예측 확률 의미

predict_validation_label = rfc.predict(X_val)
predict_validation_prob = rfc.predict_proba(X_val)[:,1]

print('accuracy', accuracy_score(Y_train, predict_train_label))
print('validation accuracy : ', accuracy_score(Y_val, predict_validation_label))
print('\n')
print('f1_score', f1_score(Y_train, predict_train_label))
print('validation accuracy : ', f1_score(Y_val, predict_validation_label))
print('\n')
print('recall_score', recall_score(Y_train, predict_train_label))
print('validation accuracy : ', recall_score(Y_val, predict_validation_label))
print('\n')
print('precision_score', precision_score(Y_train, predict_train_label))
print('validation accuracy : ', precision_score(Y_val, predict_validation_label))
print('\n')
print('auc', roc_auc_score(Y_train, predict_train_proba))
print('validation accuracy : ', roc_auc_score(Y_val, predict_validation_prob))


predict_test_label = rfc.predict(x_test_dummies)
predict_test_proba = rfc.predict_proba(x_test_dummies)[:,1]

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_ male,Gender_Female,Gender_Male,Gender_female
0,802,60,3,92887.06,1,1,0,39473.63,True,False,False,False,True,False,False
1,602,56,3,115895.22,3,1,0,4176.17,True,False,False,False,True,False,False
2,801,32,4,75170.54,1,1,1,37898.50,True,False,False,False,True,False,False
3,693,34,10,107556.06,2,0,0,154631.35,False,False,True,False,True,False,False
4,592,62,5,0.00,1,1,1,100941.57,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3496,496,55,4,125292.53,1,1,1,31532.96,False,True,False,False,True,False,False
3497,556,31,1,128663.81,2,1,0,125083.29,False,True,False,False,True,False,False
3498,589,61,1,0.00,1,1,0,61108.56,True,False,False,False,True,False,False
3499,714,25,4,0.00,2,0,0,82500.84,True,False,False,False,True,False,False
3500,745,21,4,137910.45,1,1,1,177235.23,True,False,False,False,False,True,False

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_ male,Gender_Female,Gender_Male,Gender_female
0,802,60,3,92887.06,1,1,0,39473.63,True,False,False,False,True,False,False
1,602,56,3,115895.22,3,1,0,4176.17,True,False,False,False,True,False,False
2,801,32,4,75170.54,1,1,1,37898.50,True,False,False,False,True,False,False
3,693,34,10,107556.06,2,0,0,154631.35,False,False,True,False,True,False,False
4,592,62,5,0.00,1,1,1,100941.57,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3496,496,55,4,125292.53,1,1,1,31532.96,False,True,False,False,True,False,False
3497,556,31,1,128663.81,2,1,0,125083.29,False,True,False,False,True,False,False
3498,589,61,1,0.00,1,1,0,61108.56,True,False,False,False,True,False,False
3499,714,25,4,0.00,2,0,0,82500.84,True,False,False,False,True,False,False
3500,745,21,4,137910.45,1,1,1,177235.23,True,False,False,False,False,True,False