<a href="https://colab.research.google.com/github/jeongjinjoo/Big-Data-practice/blob/main/%ED%8F%AC%EC%BC%93%EB%AA%AC_%EC%A0%95%EB%B3%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [21]:
target = df.groupby('Legendary')['HP'].mean() # Legendary의 그룹별 HP의 평균
result = target.values[1] -target.values[0]
print(result)

25.55614861329147

Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [26]:
target = df['Type 2'].value_counts().index[0]
print(target)

Flying

가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [48]:
target = df['Type 1'].value_counts().index[0]
# print(target)
a = df[df['Type 1'] == 'Water']['Attack'].mean()
print(a)
b = df[df['Type 1'] == 'Water']['Defense'].mean()
print(b)
print(a / b)

74.15178571428571
72.94642857142857
1.0165238678090576

포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [53]:
target = df.groupby('Generation')['Legendary'].sum()
print(target)

Generation
1     6
2     5
3    18
4    13
5    15
6     8
Name: Legendary, dtype: int64

‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [54]:
target = df[[ 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0: "corr"})
result = target[target['corr']!=1].sort_values('corr',ascending=False).iloc[0]
print(result)

level_0     Sp. Def
level_1     Defense
corr       0.510747
Name: 26, dtype: object

각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [65]:
result = df.sort_values(['Generation','Attack'])
result2 = result.groupby('Generation').head(3)['Attack'].mean()
print(result2)

19.5

각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [66]:
result = df.sort_values(['Generation', 'Attack'], ascending = False)
result2 = result.groupby('Generation').head(5)['Attack'].mean()
print(result2)

157.23333333333332

가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [74]:
result = df[['Type 1','Type 2']].value_counts()
print(result)

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Ghost     Grass     10
                    ..
Fire      Rock       1
Ice       Ghost      1
Fire      Dragon     1
Fighting  Flying     1
Water     Steel      1
Name: count, Length: 136, dtype: int64

한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [78]:
result = df[['Type 1','Type 2']].value_counts()
result2 = len(result[result == 1])
print(result2)

39

한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [84]:
result = df[['Type 1','Type 2']].value_counts()
result2 = result[result == 1]

lst = []
for value in result2.reset_index().values:
    t1 = value[0]
    t2 = value[1]

    sp = df[(df['Type 1']==t1) & (df['Type 2']==t2)]
    lst.append(sp)

result3 = pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()
# print(result)
print(result2)
print(result3)

Type 1    Type 2
Electric  Grass       1
Steel     Dragon      1
Electric  Ice         1
Steel     Fighting    1
          Flying      1
Electric  Fairy       1
          Ghost       1
          Fire        1
Bug       Water       1
Electric  Dragon      1
Dragon    Fire        1
Bug       Ghost       1
Dragon    Fairy       1
          Electric    1
Ground    Steel       1
Rock      Fighting    1
Electric  Water       1
Psychic   Dark        1
Ground    Fire        1
          Electric    1
Normal    Ground      1
Grass     Ground      1
Normal    Water       1
Poison    Bug         1
          Dragon      1
Grass     Dragon      1
Poison    Water       1
Ghost     Dark        1
Fighting  Dark        1
Psychic   Fire        1
Fire      Water       1
Psychic   Ghost       1
          Grass       1
Fire      Steel       1
          Rock        1
Ice       Ghost       1
Fire      Dragon      1
Fighting  Flying      1
Water     Steel       1
Name: count, dtype: int64
Generation
1     1
2     4
3     5
4    13
5     7
6     9
Name: count, dtype: int64